<%- include('./partials/head') %>
	

	<% if (cookies.usuarioLogueado !== undefined || locals.userSession !== undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Banner -->
	<div class="banner">
		<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
				<% productos.forEach((product, index) => { %>
				<% if (index < 4) { %>
					<div class="col-12 col-md-6 col-lg-3 ">
						<section class="product-box">
							<a href="producto/<%= product.id %>">
								<figure class="product-box_image">
								<img src="/images/products/<%= product.imagen_producto %>" alt="<%= product.producto %>" class="product-img">
								</figure>
								<article class="product-box_data">
									<h3 class="product-name"><%= product.producto %></h3>
									<p class="product-description"><%= product.descripcion %></p>
									
									<% if (product.usuario && product.usuario.usuario) { %>
										<p class="product-user">Publicacion de: <a href="/usuario/profile/<%= product.usuario.id %>"><%= product.usuario.usuario %></a></p>
									<% } else { %>
										<p class="product-user">Publicacion de: Usuario Anonimo</p>
									<% } %>
									</article>
							</a>
						</section>
					</div>
				<% } %>
				<% }); %>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/man-city.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Man City 2024</h2>
							<p>Camiseta Manchester City 23/24</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/man-utd.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Man Utd 2024</h2>
							<p>Camiseta Manchester United 23/24</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/roma.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Roma 2024</h2>
							<p>Camiseta de la roma 23/24</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto">
						<figure class="product-box_image">
							<img src="images/products/casla.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>San Lorenzo 2021</h2>
							<p>Camiseta de San Lorenzo De Almagro 21/22</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->
<%- include('./partials/footer') %>	