<%- include('./partials/head') %>
<% if (cookies.usuarioLogueado !== undefined || locals.userSession !== undefined) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header') %>
<% } %>
	
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= producto.producto %> </h2> 
			<% if (cookies.usuarioLogueado !== undefined){ %>
                <% if (producto.usuario.email !== cookies.usuarioLogueado.id) { %>
					<p class="product-detail-description" > Publicado por: <a href="/usuario/profile/<%= producto.usuario.id %>"><%= producto.usuario.usuario %></a></p>
				<% }%>
				<% }%>
				<% if (producto.id_user == cookies.usuarioLogueado.id) {%>
				<form action="/producto/borradoProducto/<%= producto.id %>" method="post">
		
					<button type="submit">Borrar el producto</button>
					<p class="product-detail-description">
					
						<a href="http://localhost:3000/producto/editProduct/<%= producto.id %>/<%=producto.id_user%>">Editar</a>
					</p>
				</form>
				<% } %>
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= producto.imagen_producto %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %></p>
						
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

						<% for (let i = 0; i < producto.comentarios.length; i++) { %>
							<article>
								<a href="/usuario/profile/<%= producto.comentarios[i].id_user %>"><img src="/images/users/<%= producto.comentarios[i].usuario.fotodeperfil %>" alt=""></a>
                        <div class="data">
                            <p class="user">
                                <strong> <a href="/usuario/profile/<%= producto.comentarios[i].id_user %>"> <%= producto.comentarios[i].usuario.usuario %> </a></strong>
                            <p><%= producto.comentarios[i].comentario  %></p>
                        </div>
								
							
							</article>
							
						<% } %>

					</section>
					<% if(cookies.usuarioLogueado !== undefined || locals.userSession !== undefined){ %>
					<form class="form" action="/producto/comentario/<%= producto.id %>" method="post">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<%}else{%>
						<p class="product-detail-description">
                            Debe estar <a href="/usuario/login">logueado</a> para poder comentar
                        </p>
					<%}%>
					<hr>
				</div>
			</div>
		</div>
	</div>

	
<%- include('./partials/footer') %>	