<%- include('./partials/head') %>
<% if (cookies.usuarioLogueado !== undefined || locals.userSession !== undefined) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header') %>
<% } %>

	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/<%= fotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= user %>
						<a href="/usuario/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= email %></li>
						<li><%= cantidadProductos %> Productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<section class="container products-wrapper">
        <div class="row">
            <% productos.forEach(producto => { %>
                <div class="col-12 col-md-4">
                    <div class="product-box">
                        <a href="/producto/<%= producto.id %>">
                            <img src="/images/products/<%= producto.imagen_producto %>" alt="<%= producto.producto %>">
                            <h3><%= producto.producto %></h3>
                        </a>
                        <p><%= producto.descripcion %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
	<!-- /Mis productos -->

<%- include('./partials/footer') %>
