<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
				<% if (locals.errors){
					errors.forEach(error => {	%>
						<p> <%= error.msg %> </p> 
					<%}) %>
					 
				<%	} %>
			</div>
			<!-- Show the "ultimos" products -->
			
			<h2 class="col-12"> 
				<form class="form-register" action="/usuario/register" method="post">
				<label for="email">Email:</label>
				<input type="email" placeholder="pcv@udesa.edu.ar"  name="email" value="<%= locals.old !== undefined && old.email 	? old.email : "" %>"
><br><br>
			
				<label for="user">Usuario:</label>
				<input type="text" placeholder="PCVcamisetas"name= "usuario" ><br><br>
				<label for="pass">Contraseña:</label>
				<input type="password" placeholder="*******" name = "contrasena"value="<%= locals.old !== undefined && old.contrasena	? old.contrasena : "" %>"><br><br>
				<label for="fecha-nacimiento">Fecha De Nacimiento:</label>
				<input type="date" name="fecha" ><br><br>
				<label for="documento">Documento:</label>
				<input type="number" placeholder="46649856" name="dni"><br><br>
				<label for="fotoPerfil">Foto de Perfil:</label>
				<input type="text" placeholder="Ingresar archivo .jpg"name= "fotodeperfil" ><br><br>
				<button type="submit" >Enviar</button>

			</form>
			</h2>
			
			

<%- include('./partials/footer') %>
